ws1/2019-04.csv
ws2/*.csv
a1/2019-04.csv
a2/wine+quality.zip
a2/winequality-red.csv
a2/winequality-white.csv
a2/winequality.names
a4/java_opts.txt
a4/2019-04.csv
a5/car+evaluation.zip
a5/car.c45-names
a5/car.data
a5/car.names